header {
    height: 45px;
    background-color: rgb(49, 48, 48) ;
    display: flex;
    position: relative;
    color: white;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 25px;
    width: 30%;
}
.navbar_item {
    flex: 1;
    cursor: pointer;
    padding: 5px 10px;
}
.navbar_item:hover {
    background-color: black;

}
.navbar_Search {
    font-size: 25px;
    cursor: pointer;
    padding: 10px 15px;
}

main {
    position: relative;
    width: 100%;
}


.main_Item {
    position: relative;
    width: 100%;
    height: 100vh;
}
.home_Item {
    position: absolute;
    display: none;

}
.home_Item.active {
    display: block;
}
.home_Item img {
    width: 98vw;
    height: 100vh;
}

.description {
    position : absolute;
    top: 85%;
    color: rgb(155, 154, 154);
    font-size: 30px;
    font-weight: bold;
    left: 40%;
}
.intro_Content {
    position: relative;
    text-align: center;
    margin-top: 80px;
}
.intro {
    border: 1px solid black;
    box-shadow: 3px 2px 5px 5px rgba(0,0,0,0.5);
    width: 45%;
    padding: 35px;
    margin-left: 25%;
    font-size: 20px;
}
table {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    border-collapse: collapse;
}
td, tr, th {
    padding: 10px;
    width: 15%;
    text-align: center;
    border: 1px solid black;
}
.buy_Button {
    cursor: pointer;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 10px;
    color: white;
    background-color: black;
}
.title_Images {
    position: absolute;
    top: 63%;
    z-index: 1;
    color : white;
    font-size: 40px;
    font-weight: bold;
    left: 10%;
    animation: steps 5s linear infinite forwards;
}
@keyframes steps {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    50%{
        opacity:  0.8;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(30px);
    }
}
.contact_Content {
    text-align: center;
}