body {
    margin:  0;
}
.overlay {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);
    z-index: 4;
    display: none;
    transition: 0.3s ease;
}
header {
    height: 45px;
    background-color: rgb(49, 48, 48) ;
    display: flex;
    position: relative;
    color: white;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 25px;
    width: 30%;
}
.navbar_item {
    flex: 1;
    cursor: pointer;
    padding: 5px 10px;
}
.navbar_item.active {
    background-color: black;
}
.navbar_item:hover {
    background-color: black;

}
.navbar_Search {
    font-size: 25px;
    cursor: pointer;
    border: none;
    
}
.navbar_Search .fa-magnifying-glass {
    padding: 10px;

}
.navbar_Search .fa-magnifying-glass:hover {
    background-color: black;
}
.search_Input {
    display: none;
    z-index: 11 ;
    text-align: center;
    width: 300px;
    background-color: white;
    height: 400px;
    border: solid black 2px;
    border-radius: 20px;
    position: absolute;
    right: 400px;


}
.search_Input.active {
    display: block;
}

.search_Value {
    text-align: start;
    width: 80%;
    
    border: solid black 2px;
    height: 30px;
    border-radius: 30px;
    margin-top: 10px;
}
main {
    color: white;
    background-color: #0F1115;
    position: relative;
    width: 100%;
    
}


.main_Item {
    
    position: relative;
    width: 100%;

}
.home_Items {
    position: relative;
    height: 100vh;
}
.home_Item {
    position: absolute;
    display: none;
    

}
.intro_Content, .contact_Content, .cart_Content {
    padding-top: 50px;
}
.home_Item.active {
    display: block;
}
.home_Item img {
    width: 98vw;
    height: 100vh;
}

.description {
    position : absolute;
    top: 85%;
    color: rgb(155, 154, 154);
    font-size: 30px;
    font-weight: bold;
    left: 40%;
}
.intro_Content {
    position: relative;
    text-align: center;
    margin-top: 80px;
}
.intro {
    border: 1px solid black;
    box-shadow: 3px 2px 8px 8px rgba(0,0,0,0.5);
    width: 45%;
    padding: 35px;
    margin-left: 25%;
    font-size: 20px;
    
}
.intro.active {
    animation: moving 1.5s linear 1 forwards ;
}
@keyframes moving {
    from {
        margin-left: 0;
    }
    to {
        margin-left: 25%;
    }
} 
.header_Cart {
    font-size: 35px;
    padding: 20px;
    text-align: center;
    color: whitesmoke;
    font-weight: bolder;
}
.cart_Table {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;

}
.cart_Item {
    margin-left: 20%;
    display: flex ;
    text-align: start;
    border-radius: 30px;
    background-color: rgba(38, 38, 38, 0.1);
    margin: 10px;
    padding: 20px;
    width: 60%;
    border: 1px solid black;
    box-shadow: 3px 3px 5px 3px rgba(113, 113, 113, 0.5);
    cursor: pointer;
}
/* .cart_Item:hover {
    animation: click 5s infinite linear forwards ;
}

@keyframes click {
    from {
        transform: translateY(5px);
    }
    to {
        transform: translateY(0);
    }
} */
.content_Product {

    padding-left: 20px;
    font-size: 20px;
}
.des_Product {
    padding: 10px 0;
}
.images_Product {
    width: 50%;
}
.cart_Table img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.buy_Button {
    cursor: pointer;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 10px;
    color: white;
    background-color: black;
    margin-left: 80%;
}

.buy_Button:hover {
    background-color: aliceblue;
    color: black;
}
.title_Images {
    position: absolute;
    top: 63%;
    z-index: 1;
    color : white;
    font-size: 40px;
    font-weight: bold;
    left: 10%;
    animation: steps 5s linear infinite forwards;
}
@keyframes steps {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    50%{
        opacity:  0.8;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(30px);
    }
}
.cart_Item:nth-child(1).active,
.cart_Item:nth-child(3).active {
    animation: movpro 1s linear 1 forwards;
}
@keyframes movpro {
    from {
        transform: translateX(0);
        opacity: 0.8;
    }
    to {
        transform: translateX(30%);
        opacity: 1;
    }
}
.cart_Item:nth-child(2).active,
.cart_Item:nth-child(4).active {
    animation: movpr 1s linear 1 forwards;
}
@keyframes movpr {
    from {
        transform: translateX(60%);
        opacity: 0.8;
    }
    to {
        transform: translateX(30%);
        opacity: 1;
    }
}

.contact_Content {
    width: 100%;
}
.contact_Content h1 {
    text-align: center;
}
.contact_Items {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    background-color: white;
    border-radius: 20px;
    color: black;
    padding: 50px 0;
}
.form_Message {
    display: flex;
    flex-direction: column;
    width: 400px;
}
.message_Item {
    flex-basis: 1;
}
.message_Item input {
    width: 93%;
    border-radius: 10px;
    margin: 0 10px 10px 10px;
    height: 25px;
    border: solid black 2px;
}
.infor_User {
    display: flex;
}
.left_Item {
    display: flex;
    font-size: 20px;
    align-items: flex-start;
    margin-bottom: 20px;
}
.left_Item .fa-solid{
    padding-right: 10px;
}
.message_Item:last-child {
    text-align: right;
}
.message_Item button {
    font-size: 15px;
    border: solid black 2px;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 20px;
    margin-right: 10px;
}
.message_Item button:hover {
    background-color: black;
    color: white;
}
.social_Media {
    text-align: center;
    font-size: 25px;
    padding: 200px 0 100px 0;
}
